Library/PlayerDataCache/Android/Data/* filter=lfs diff=lfs merge=lfs -text
New[[:space:]]Unity[[:space:]]Project_Data/* filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
